---
title: 'Books'
description: 'Our web designs include small and medium business websites, covering a variety of trades, goods and services.'
preloadImg: '/assets/images/books-leaves.jpg'
permalink: 'books/'
eleventyNavigation:
    key: Books
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Author's Books</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/books-leaves.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/books-leaves.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/books-leaves.jpg" alt="Jorge Ortiz's Books" loading="eager" width="2500" height="1000">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <picture class="cs-picture cs-picture1 cs-no-cover">
                        <source media="(max-width: 600px)" srcset="/assets/images/covers/01-Blade-of-Shadows.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/covers/01-Blade-of-Shadows.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/covers/01-Blade-of-Shadows.jpg" alt="Blade of Shadows" loading="lazy" width="400" height="200">

                    </picture>
                    <p class="cs-image-title">Young elven girl Mariel must solve the mystery of her father's murder..</p>
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <picture class="cs-picture cs-picture1 cs-no-cover">
                        <div class="placeholder-cover cover-book2">ASH AND<br>BLOOD<br>
                            <small>Book Two</small>
                        </div>
                        <source media="(max-width: 600px)" srcset="/assets/images/covers/02-Ash-and-Blood.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/covers/02-Ash-and-Blood.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/covers/02-Ash-and-Blood.jpg" alt="Ash and Blood" loading="lazy" width="400" height="200">
                        <div class="cs-picture-text-overlay">COMING 2026</div>
                    </picture>
                    <p class="cs-image-title">Mariel must battle exile and return honor to her family's name.</p>
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <picture class="cs-picture cs-picture1 cs-no-cover">
                        <div class="placeholder-cover cover-book3">CROWN OF<br>SERPENTS<br>
                            <small>Book Three — Draft Cover</small>
                        </div>
                        <source media="(max-width: 600px)" srcset="/assets/images/covers/03-Crown-of-Serpents.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/covers/03-Crown-of-Serpents.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/covers/03-Crown-of-Serpents.jpg" alt="Crown of Serpents" loading="lazy" width="400" height="200" style="filter: blur(5px);">
                        <div class="cs-picture-text-overlay">COMING SOON</div>
                    </picture>
                    <p class="cs-image-title">Mariel battles an apocalyptic curse, and must save the human kingdom of Chedhurst. And if she's lucky, herself.</p>
                </div>

            </div>
            <a href="https://www.amazon.com/author/jorgeortiz" class="cs-button-solid">Get the Books</a>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}