---
title: 'Books'
description: 'Our web designs include small and medium business websites, covering a variety of trades, goods and services.'
preloadImg: '/assets/images/work.jpg'
permalink: 'books/'
eleventyNavigation:
    key: Books
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Author's Books</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/books-leaves.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/books-leaves.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/books-leaves.jpg" alt="Jorge Ortiz's Books" loading="eager" width="2500" height="1000">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <div class="cs-image-group">
                <!-- Row 1-->
                <!-- Row 2 -->
                <!-- Row 3 -->
            </div>
            <a href="/contact" class="cs-button-solid">Get Free Quote</a>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}