---
title: 'Reviews'
description: 'Hear firsthand from our clients about the amazing websites we created for them.'
preloadImg: '/assets/images/reviews.jpg'
permalink: 'reviews/'
eleventyNavigation:
    key: Reviews
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/reviews.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Our Reviews</h1>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/reviews-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/reviews.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/reviews.jpg" alt="new home" width="2500" height="1500" loading="eager">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Reviews                     -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="container">
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    They transformed our outdated site into a sleek, user-friendly masterpiece that has boosted our online presence and customer engagement significantly.
                </p>
                <div class="star-group">
                    <span class="name">Ryan S.<span class="desc">MUTE Events</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile-woman.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    SXSWeb delivered a stunning website ahead of schedule and provided exceptional support throughout the entire process.
                </p>
                <div class="star-group">
                    <span class="name">Amy B.<span class="desc">Vintage Workshop</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Choosing SXSWeb Design was one of the best decisions we made for our startup.
                </p>
                <div class="star-group">
                    <span class="name"> Eric K.<span class="desc">Trailflex</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    These guys created a visually stunning website. And it was fully optimized for SEO, giving us a noticeable increase in web traffic.
                </p>
                <div class="star-group">
                    <span class="name">Michael M.<span class="desc">American Outdoorsman</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    I highly recommend SWSWeb to anyone looking for a top-notch website. They not only delivered a beautiful and functional site but also provided excellent ongoing support.
                </p>
                <div class="star-group">
                    <span class="name">Dusti H.<span class="desc">Solid A</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Working with this website development team was a game-changer for my business. Their professionalism, attention to detail, and quick turnaround time were truly impressive.
                </p>
                <div class="star-group">
                    <span class="name">Justin S.<span class="desc">Kids Creations</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}